page-play {
	--width-button: 60px;
	--gap: 15px;
	--transition-time: 0.25s;
	background-color: lightgray;
	display: grid;
	grid-template-columns: var(--width-button) 1fr var(--width-button);
	grid-template-rows: var(--width-button) 1fr var(--width-button) var(--width-button);
	gap: var(--gap);
	padding: var(--gap);
}

page-play > * {
	background-color: white;
	border-radius: var(--gap);
	transition: background-color var(--transition-time), fill var(--transition-time);
	z-index: 2;
}

page-play > *[disabled] {
	opacity: 0.3;
	background-color: white !important;
	fill: gray !important;
	cursor: default;
	transform: none !important;
}

page-play > *.clickable:active {
	transform: scale(0.9);
}

page-play > a {
	padding: 5px;
}

page-play > main {
	grid-column: 2/2;
	grid-row: 1/5;
}

page-play > nav {
	padding: 15px;
	cursor: pointer;
	fill: gray;
}

page-play > nav:hover {
	background-color: gray;
	fill: white;
}

page-play > nav.prev-1 {
	grid-column: 1;
	grid-row: 3;
}

page-play > nav.prev {
	grid-column: 1;
	grid-row: 4;
}

page-play > nav.next {
	grid-column: 3;
	grid-row: 4;
}

page-play > nav.done {
	grid-column: 3;
	grid-row: 3;
}

page-play > aside {
	grid-column: 3;
	grid-row: 1;
	padding: 15px;
	fill: royalblue;
	cursor: pointer;
}

page-play > aside:hover {
	background-color: royalblue;
	fill: white;
}

page-play > footer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 0;
}

page-play > footer.blur {
	filter: blur(30px);
}

page-play > footer.background-1 {
	background-image: url(../../assets/image/background-1.png);
}

page-play > footer.background-2 {
	background-image: url(../../assets/image/background-2.jpg);
}
